html, body{margin:0px;padding:0px;background:url(img/bg.png);font-size:11px;font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;overflow-x:hidden}
a{text-decoration:none;color:#21578b;margin:0px;padding:0px}
a:hover{text-decoration:underline;outline:none}
.header {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  height: 35px;
}
a#move_up { 
 position: fixed; 
 top: 10px; 
 display: none;
 width: 66px; 
 height: 20px;  
 text-decoration: none; 
 background:url("./img/up.png");
 padding-top:0px; 
} 
a#move_up:hover { 
}
.nav a:first-child {margin-left:15px;}
.nav a, .nav a:visited {
display:block;
float:left;
height:36px;
line-height:36px;
color:#999999;
text-transform:uppercase;
font-size:12px;
padding:0px 15px;
font-weight:bold;
}
.nav a:hover, .nav a:active {
color:#fff;
text-decoration:none;
border-bottom:2px solid #AAA;
height:35px;
background:rgba(255,255,255,0.05);
}
.button {
  border: 0px solid #AAA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px white;
  -moz-box-shadow: 0px 1px 0px white;
  -webkit-text-shadow: 0px 1px 0px white;
  -moz-text-shadow: 0px 1px 0px white;
  -o-text-shadow: 0px 1px 0px white;
  text-shadow: 0px 1px 0px white;
  font-family: inherit;
  line-height: 27px;
  font-size: 11px;
  color: #00008B !important;
  height: 40px;
  width:auto;
  padding: 0px 10px;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#F0E68C));
  background-image: -webkit-linear-gradient(top, white, #F0E68C);
  background-image: -moz-linear-gradient(top, white, #F0E68C);
  background-image: -o-linear-gradient(top, white, #F0E68C);
  background-image: -ms-linear-gradient(top, white, #F0E68C);
  background-image: linear-gradient(top, white, #F0E68C);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#F0E68C');
  cursor: pointer;
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button.small {
  padding: 0px 6px;
  height: 25px;
  line-height: 25px;
}
.button:hover, .button:active, .button:focus {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -o-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: linear-gradient(top, #f5f5f5, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f5f5', EndColorStr='#e9e9e9');
}
.input {
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px white;
  -moz-box-shadow: 0px 1px 0px white;
  -webkit-text-shadow: 0px 1px 0px white;
  -moz-text-shadow: 0px 1px 0px white;
  -o-text-shadow: 0px 1px 0px white;
  text-shadow: 0px 1px 0px white;
  font-family: inherit;
  line-height: 27px;
  font-size: 11px;
  color: #555555 !important;
  height: 28px;
  padding: 0px 10px;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: -ms-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(top, white, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#f2f2f2');
  cursor: pointer;
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input.small {
  padding: 0px 6px;
  height: 25px;
  line-height: 25px;
}
.input:hover, .input:active, .input:focus {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -o-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #e9e9e9);
  background-image: linear-gradient(top, #f5f5f5, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f5f5', EndColorStr='#e9e9e9');
}
.progress .bar {
  width: 100%;
  display: inline-block;
  display: block;
  height: 12px;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 1px;
  border: none;
  box-shadow: inset 0px 1px 0px #cacaca, inset 0px -1px 0px #cacaca;
  -webkit-box-shadow: inset 0px 1px 0px #cacaca, inset 0px -1px 0px #cacaca;
  -moz-box-shadow: inset 0px 1px 0px #cacaca, inset 0px -1px 0px #cacaca;
  background: #ececec;
  padding: 0px;
  min-width: 40%;
  overflow: hidden;
  background-color: #d9d9d9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #e1e1e1);
  background-image: -moz-linear-gradient(top, #d9d9d9, #e1e1e1);
  background-image: -o-linear-gradient(top, #d9d9d9, #e1e1e1);
  background-image: -ms-linear-gradient(top, #d9d9d9, #e1e1e1);
  background-image: linear-gradient(top, #d9d9d9, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d9d9d9', EndColorStr='#e1e1e1');
}
.progress .bar .value {
  left: 0;
  background: #aaaaaa;
  height: 100%;
  max-width: 100%;
  display: block;
  width: 0%;
  background-color: #1a8ae3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a8ae3), to(#1c78c3));
  background-image: -webkit-linear-gradient(top, #1a8ae3, #1c78c3);
  background-image: -moz-linear-gradient(top, #1a8ae3, #1c78c3);
  background-image: -o-linear-gradient(top, #1a8ae3, #1c78c3);
  background-image: -ms-linear-gradient(top, #1a8ae3, #1c78c3);
  background-image: linear-gradient(top, #1a8ae3, #1c78c3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1a8ae3', EndColorStr='#1c78c3');
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
  -moz-transition: width 0.7s;
  -o-transition: width 0.7s;
  -ms-transition: width 0.7s;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}
.progress .label,
.progress .desc {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #5c5c5c;
  line-height: 12px;
  padding: 8px 0px;
}
hr {
    margin:0px;
	padding:0px;
    color: #e5edf5; /*для IE */
    background-color:#e5edf5; /*для Firefox, Opera, Safari*/
    border:0px none;
    height:1px;
	width:100%;
    clear:both; /* для очистки, если тег идет после float елемента */
}
.h3 {
  margin:5px;
  padding:0px;
  color: #F0E68C !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#FFFFFF', EndColorStr='#F0E68C');  
  font-size: 29px;
  font-family:Tahoma;
}
.content {
  width:90%;
  margin:auto;  
  background: #FFFFFF;
  height:100%;
  box-shadow:0px 0px 0px 0px #FFFFFF;
  padding:10px;
  border-radius: 0px 0px 0px 0px;
}
.block01 {
  width: 200px;
  font-size:11px;
  margin: 0px auto;
  padding:5px 10px 5px 10px;
  color:#FFFFFF;
  background: #AAA;
  border-radius: 5px 5px 0px 0px;
  float:right;
}
.block02 {
  width: 200px;
  font-size:11px;
  margin:auto;
  padding:5px 10px 5px 10px;
  color:#FFFFFF;
  background: #AAA;
  border-radius: 5px 5px 5px 5px;
  float:right;
}
.block03{
  margin:auto;
  padding:13px 3px 3px 3px;
  border-radius: 5px 5px 5px 5px;
  background:#fff;
  border:1px solid #AAA;
  color:#777;
}
.block04{height: 100%;border-radius: 3px 3px 3px 3px;padding:1px 10px 1px 10px;background:#fff;border:1px solid #AAA;color:#777;margin-top:0px}
.h1{font-size:13px;font-weight:bold;color:#4274a5;margin-top:5px;margin-bottom:5px;padding-bottom:2px;border-bottom:1px solid #e5edf5;padding-left:2px}
.inp{border-radius: 5px 5px 5px 5px;font-size:11px;padding:5px 10px 5px 10px;background:#fff;border:1px solid #ccc;color:#777;margin-top:10px}
.over_1 {width:auto;text-align:left;} 
.titl {border-radius: 5px 5px 5px 5px;text-align:left;padding:7px;margin:0;font-size:14px;font-family:Arial;color:white;background:#4B4F55;display:block} 
.menus {text-align:left;border-bottom:1px solid #D8D8D8} 
.menus a sup {font-family:Arial;margin-top:-1px;float:right;font-size:10px;border-radius:13px;padding:3px;background:#efefef;color:#646464} 

.menus a.active sup {font-family:Arial;margin-top:-1px;float:right;font-size:10px;border-radius:13px;padding:3px;background:#F13B3B;color:white} 

.menus a { 
border-radius: 3px 3px 3px 3px; 
font-family:Arial; 
font-size:14px; 
background:white; 
display:block; 
padding:7px; 
color:#8B8E93; 
border-bottom:1px solid #F0F0F0; 
text-decoration:none; 
} 
.menus a.active { 
font-family:Arial; 
display:block; 
font-size:14px; 
padding:7px; 
color:#FFFFFF; 
border-bottom:1px solid #62666B; 
text-decoration:none; 
background:#6E757F; 
border-left:1px solid #6E757F; 
border-right:1px solid #6E757F; 
} 
.menus a:hover { 
font-family:Arial; 
display:block; 
font-size:14px; 
padding:7px; 
color:#FFFFFF; 
border-bottom:1px solid #62666B; 
text-decoration:none; 
background:#6E757F; 
border-left:1px solid #6E757F; 
border-right:1px solid #6E757F; 
}
.invisiblecomm
{
border:1px solid #AAA;
width:300px;
position:absolute;
margin-right:5px;
margin-top:0px;
display:none;
padding:5px;
background-color:#fff;
text-align:left;
z-index:2;
}
.content_lastcomm{border-radius: 0px 0px 0px 0px;font-size:11px;padding:5px 10px 5px 10px;background:#fff;border:1px solid #AAA;color:#777;margin-top:0px}
input[type=checkbox] {
  margin: 5px;
}

input,
textarea {
  background: white;
  border: 1px solid #c1c1c1;
  box-shadow: 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px white;
  -moz-box-shadow: 0px 1px 0px white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 11px;
  line-height: 26px;
  color: #555555;
  font-size: 11px;
  padding: 0px 10px;
  height: 28px;
  position: relative;
  display: block;
  outline: none;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input.hidden,
textarea.hidden {
  display: none;
}
input:focus,
textarea:focus {
  border-color: rgba(34, 121, 204, 0.8) !important;
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(34, 121, 204, 0.5);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(34, 121, 204, 0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(34, 121, 204, 0.5);
}

input[type=checkbox] {
  border: none;
  padding: 0px;
}

textarea {
  height: 100px;
  padding: 10px;
  line-height: 18px;
  font-size: 12px;
  resize: vertical;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.footer {
  width:90%;
  margin:auto;
  background: #AAA;
  box-shadow:0px 0px 0px 0px #FFFFFF;
  padding:10px;
  border-radius: 0px 0px 5px 5px;
}
.galeryIMG
{
	border:1px dotted #D9D9D9;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 8px #969696;
	cursor:pointer;
}
.bigIMG
{
	border:1px dotted #D9D9D9;
	background-color:#e5edf5;
	position:absolute;
	left:50%;
	top:10px;
	margin-left:-450px;
	width:900px;
	padding:5px;
	border-radius: 5px 5px 5px 5px;
	z-index:1000;
}
.block_pm
{
width:89px;
height:164px;
background-image:url(./img/stat.png);
background-position:left top;
background-repeat:no-repeat;
font-size:14px;
font-weight:bold;
position:fixed;
top:35%;
right:-10px;
z-index:5;
}
.morenavig
{
padding:3px;
float:left;
margin:2px;
}
.navig,.navigACTIV
{
padding:3px;
border-radius: 2px 2px 2px 2px;
float:left;
border:1px solid #AAA;
margin:5px;
}