<table valign="top">
<td valign="top">
<div class="adminmenu">
<stat>Помощь</stat>
<p>
<a>Нашли баг? или хотите предложить интересную идею? напишите нам!</a>
</div>
<p>
<div class="adminmenu">
<stat>Разделы AdminCP</stat>
<p>
<table align = "center" width="100%">
<td align = "center" class="pynkt" title="Добавление записи в личный блог.">
<a href="?page=add_content"><img src="img/add.png" border="0px"></a>
<br>
<a href="?page=add_content">Опубликовать</a>
</td>

<td align = "center" class="pynkt" title="Все записи блога, где вы сможете изменять, удалять, модерировать записи а так-же комментарии.">
<a href="?page=all_content"><img src="img/all.png" border="0px"></a>
<br>
<a href="?page=all_content">Все записи</a>
</td>

<tr>

<td align = "center" class="pynkt" title="Настройка меню вашего сайта.">
<a href="?page=all_menu"><img src="img/menu.png" border="0px"></a>
<br>
<a href="?page=all_menu">Меню сайта</a>
</td>

<td align = "center" class="pynkt" title="Менеджер файлов для хранение файлов.">
<a href="?page=mfiles"><img src="img/files.png" border="0px"></a>
<br>
<a href="?page=mfiles">Файлы</a>
</td>

<tr>

<td align = "center" class="pynkt" title="Сохрани в галерею картинки и публикуй их прямо в блог.">
<a href="?page=galery"><img src="img/gallery.png" border="0px"></a>
<br>
<a href="?page=galery">Галерея</a>
</td>

<td align = "center" class="pynkt" title="Управление группами E-Mail в комментариях.">
<a href="?page=user"><img src="img/user_comm.png" border="0px"></a>
<br>
<a href="?page=user">Пользователи</a>
</td>

<tr>

<td align = "center" class="pynkt" title="Опросы для ваших посетителей блога.">
<a href="?page=quest"><img src="img/poll.png" border="0px"></a>
<br>
<a href="?page=quest">Опросы</a>
</td>

<td align = "center" class="pynkt" title="Установка/Настройка модулей.">
<a href="?page=modules"><img src="img/modules.png" border="0px"></a>
<br>
<a href="?page=modules">Модули</a>
</td>

<tr>

<td align = "center" class="pynkt" title="Обращение к вам из формы обратной связи.">
<a href="?page=contact"><img src="img/mail.png" border="0px"></a>
<br>
<a href="?page=contact">Почта</a>
</td>

<td align = "center" class="pynkt" title="Настройка сайта.">
<a href="?page=configblog"><img src="img/setting.png" border="0px"></a>
<br>
<a href="?page=configblog">Настройка</a>
</td>

</table>
</div>
<p>
<div class="adminmenu">
<table>
<td>
<img src="img/templates.png">
</td>
<td>
<a href="http://niun.ru/dopolnenie/shablony/" target="_blank">Бесплатные шаблоны на NiunCMS</a>
</td>
<tr>
<td>
<img src="img/modules.png">
</td>
<td>
<a href="http://niun.ru/dopolnenie/moduli/" target="_blank">Бесплатные модули на NiunCMS</a>
</td>
<tr>
<td>
<img src="img/license.png">
</td>
<td>
<a href="?page=license" target="_blank">Лицензионное соглашение</a>
</td>
<tr>
<td>
<img src="img/about.png">
</td>
<td>
<a href="?page=about" target="_blank">Об NiunCMS и её авторе</a>
</td>
</table>
</div>
</td>
<td valign="top" width="100%">
<div class="block">Мой Ящик</div>
<div class="txt">
<div width="100%" align="right" class="inp"><a href="?page=contact&read_mess_all=[_idR]"><button class="inpu">Отметить всё как прочитанное...</button></a></div>
<table class="headerWIN" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td style="font-weight:bold;padding:5px;" colspan="2">Тема</td>
		<td style="font-weight:bold;padding:5px;">Добавил</td>
		<td style="font-weight:bold;padding:5px;">Добавлено</td>
		<td width="30px" style="padding:5px;">&nbsp;</td>
	</tr>
	[_while]
	<tr>
		<td style="border-top:1px solid #dcdcdc;" width="15px" align="center"><a href="?page=contact&read_mess=[_id]"><img src="[_activ]" border="0px"></a></td>
		<td style="padding:5px;border-top:1px solid #dcdcdc;"><div style="font-weight:100;cursor:pointer;" title="Открыть письмо" onclick="open_mess([_id])">[_them]</div></td>
		<td style="padding:5px;border-top:1px solid #dcdcdc;">[_login]</td>
		<td style="padding:5px;border-top:1px solid #dcdcdc;">[_date_g]</td>
		<td style="padding:5px;border-top:1px solid #dcdcdc;" width="30px" align="right"><a href="?page=contact&del_mess=[_id]"><img src="img/del.jpg" border="0px"></a></td>
	</tr>
	<tr>
<td>
<div id="mess_[_id]" class="headerWIN" style="display:none;width:500px;border-radius: 5px 5px 5px 5px;border:1px solid #000;position:fixed;left:50%;margin-left:-250px;top:20%;text-align:left;padding:5px;background-color:#fff;">
		<div style="position:fixed;margin-left:485px;margin-top:-5px;cursor:pointer;" onclick="open_mess([_id])"><img src="../admincp/img/del.jpg" border="0px"></div>
		<div>Автор: [_login] ( <a href="mailto:[_email]" style="font-weight:100;">Ответить на письмо</a> ) || Добавлено: [_date_g]</div>
		<div style="text-align:center;font-weight:bold;margin-top:5px;margin-bottom:5px;">[_them]</div>
		<div style="text-align:justify;overflow-y:auto;height:300px;">[_text]</div>
	</div>
<tr>
</td>
	[_while]
</table>
</td>
</table></div>