<table valign="top">
<td valign="top">
<div class="adminmenu">
<stat>Помощь</stat>
<p>
<a>Нашли баг? или хотите предложить интересную идею? напишите нам!</a>
</div>
<p>
<div class="adminmenu">
<stat>Разделы AdminCP</stat>
<p>
<table align = "center" width="100%">
<td align = "center" class="pynkt" title="Добавление записи в личный блог.">
<a href="?page=add_content"><img src="admin/img/add.png" border="0px"></a>
<br>
<a href="?page=add_content">Опубликовать</a>
</td>

<td align = "center" class="pynkt" title="Все записи блога, где вы сможете изменять, удалять, модерировать записи а так-же комментарии.">
<a href="?page=all_content"><img src="admin/img/all.png" border="0px"></a>
<br>
<a href="?page=all_content">Все записи</a>
</td>

<tr>

<td align = "center" class="pynkt" title="Настройка меню вашего сайта.">
<a href="?page=all_menu"><img src="admin/img/menu.png" border="0px"></a>
<br>
<a href="?page=all_menu">Меню сайта</a>
</td>

<td align = "center" class="pynkt" title="Менеджер файлов для хранение файлов.">
<a href="?page=mfiles"><img src="admin/img/files.png" border="0px"></a>
<br>
<a href="?page=mfiles">Файлы</a>
</td>

<tr>

<td align = "center" class="pynkt" title="Сохрани в галерею картинки и публикуй их прямо в блог.">
<a href="?page=galery"><img src="admin/img/gallery.png" border="0px"></a>
<br>
<a href="?page=galery">Галерея</a>
</td>

<td align = "center" class="pynkt" title="Управление группами E-Mail в комментариях.">
<a href="?page=user"><img src="admin/img/user_comm.png" border="0px"></a>
<br>
<a href="?page=user">Пользователи</a>
</td>

<tr>

<td align = "center" class="pynkt" title="Опросы для ваших посетителей блога.">
<a href="?page=quest"><img src="admin/img/poll.png" border="0px"></a>
<br>
<a href="?page=quest">Опросы</a>
</td>

<td align = "center" class="pynkt" title="Установка/Настройка модулей.">
<a href="?page=modules"><img src="admin/img/modules.png" border="0px"></a>
<br>
<a href="?page=modules">Модули</a>
</td>

<tr>

<td align = "center" class="pynkt" title="Обращение к вам из формы обратной связи.">
<a href="?page=contact"><img src="admin/img/mail.png" border="0px"></a>
<br>
<a href="?page=contact">Почта</a>
</td>

<td align = "center" class="pynkt" title="Настройка сайта.">
<a href="?page=configblog"><img src="admin/img/setting.png" border="0px"></a>
<br>
<a href="?page=configblog">Настройка</a>
</td>

</table>
</div>
<p>
<div class="adminmenu">
<table>
<td>
<img src="admin/img/templates.png">
</td>
<td>
<a href="http://niun.ru/dopolnenie/shablony/" target="_blank">Бесплатные шаблоны на NiunCMS</a>
</td>
<tr>
<td>
<img src="admin/img/modules.png">
</td>
<td>
<a href="http://niun.ru/dopolnenie/moduli/" target="_blank">Бесплатные модули на NiunCMS</a>
</td>
<tr>
<td>
<img src="admin/img/license.png">
</td>
<td>
<a href="?page=license" target="_blank">Лицензионное соглашение</a>
</td>
<tr>
<td>
<img src="admin/img/about.png">
</td>
<td>
<a href="?page=about" target="_blank">Об NiunCMS и её авторе</a>
</td>
</table>
</div>
</td>
<td valign="top" width="100%">
<div class="block">Настройка записи из блога</div>
<div class="txt">
	<form action="?page=cfgpost&id=[_id]" method="post" name="form">
<table class="headerWIN" width="100%" cellpadding="5" cellspacing="0" border="0" align="center">
	<tr>
		<td style="border-top:0px solid #dcdcdc;padding:5px;" valign="top" align="left">Статус публикации</td>
		<td style="border-top:0px solid #dcdcdc;padding:5px;" valign="top" align="right">
			<select class="inpu" style="font-family:Verdana;font-weight:100;font-size:11px;" name="pb">
				[_cfgpb]
			</select>
		</td>
	</tr>
	<tr>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="left">Видим пост в ленте новостей?</td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="right">
			<select class="inpu" style="font-family:Verdana;font-weight:100;font-size:11px;" name="viewindex">
				[_cfgvi]
			</select>
		</td>
	</tr>
	<tr>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="left">Разрешить комментировать пост?</td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="right">
			<select class="inpu" style="font-family:Verdana;font-weight:100;font-size:11px;" name="viewcomm">
				[_cfgcomm]
			</select>
		</td>
	</tr>
	<tr>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="left">Разместить в файле sitemap.xml?</td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="right">
			<select class="inpu" style="font-family:Verdana;font-weight:100;font-size:11px;" name="sm">
				[_cfgsm]
			</select>
			<select class="inpu" style="font-family:Verdana;font-weight:100;font-size:11px;" name="xmlsmup">
				[_cfgsmup]
			</select>
			<select class="inpu" style="font-family:Verdana;font-weight:100;font-size:11px;" name="xmlsmpr">
				[_cfgsmpr]
			</select>
		</td>
	</tr>
	<tr>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="left">Разместить пост в RSS ленте?</td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="right">
			<select class="inpu" style="font-family:Verdana;font-weight:100;font-size:11px;" name="viewrss">
				[_cfgrss]
			</select>
		</td>
	</tr>
	<tr>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="left">Блокировать пост на гл. стр.?</td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" valign="top" align="right">
			<select class="inpu" style="font-family:Verdana;font-weight:100;font-size:11px;" name="viewblock">
				[_cfgblock]
			</select>
		</td>
	</tr>
	<tr>
		<td style="border-top:1px solid #dcdcdc;" valign="top" colspan="2" align="center">
			<br/><br/><input type="submit" class="inp" style="cursor:pointer;" value="Сохранить настройки">
		</td>
	</tr>
</table>
</form>
<br/><br/>
</td>
</table></div>