<div class="block">Изменить запись "[_title]"</div>
<div class="txt">
<form action="?page=edd_content" method="post" name="form">
			<input name="edd_id_post" type="hidden" value="[_id]">
<table class="headerWIN" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
Название записи:
</td>
<td>
<input style="width:99%;" class="inpu" autocomplete="off" name="edd_name_post" type="text" value="[_title]">
</td>
</tr>
<tr>
<td>
Текст записи:
</td>
<td>
<p>
<textarea id="input" name="edd_txt_post" rows="10">[_text]</textarea>
<p>
</td>
</tr>
<tr>
<td>
Описание:
</td>
<td>
<input style="width:99%;" class="inpu" autocomplete="off" name="edd_metad_post" type="text" value="[_metad]">
<p>
</td>
</tr>
<tr>
<td>
URL (ЧПУ):
</td>
<td>
<input style="width:99%;" class="inpu" autocomplete="off" name="edd_chpy_post" type="text" value="[_chpu]">
<p>
</td>
</tr>
<tr>
<td>
Ключевые слова:
</td>
<td>
<input style="width:99%;" class="inpu" autocomplete="off" name="edd_metak_post" type="text" value="[_metak]">
<p>
</td>
</tr>
<tr>
<td>
Автор записи:
</td>
<td>
<input style="width:99%;" class="inpu" autocomplete="off" name="edd_author_post" type="text" value="[_author]">
<p>
</td>
</tr>
<td>
<br />
<div align="center"><input class="input" style="cursor:pointer;" type="submit" value="Редактировать пост"></div>
</td>
</table>
</form>
</div>