<div class="h1" style="margin-top:10px">Редактирование название и описание фотографии</div>
		<form action="index.php?page=eddphoto" method="post" name="eddphoto">
		<input name="eddidIMG" type="hidden" value="[_id]" />
		<input name="locationGAL" type="hidden" value="[_idGAL]" />
<table class="headerWIN" width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>Название:</td>
					<td><input class="inpu" style="width:350px;font-weight:100;font-size:11px;" autocomplete="off" name="eddtitleIMG" type="text" value="[_titleIMG]" /></td>
				</tr>
				<tr>
					<td>Описание:</td>
					<td><input class="inpu" style="width:350px;font-weight:100;font-size:11px;" autocomplete="off" name="eddtxtIMG" type="text" value="[_txtIMG]" /></td>
				</tr>				
				</table>
				<input type="submit" <input class="inp" value="Редактировать фотографию">
		</form>	