<div class="block">Лицензионное соглашение</div>
<div class="txt">
        <td bgcolor="#EFEFEF" height="29" style="padding-left:10px;"><div class="navigation">
		</div></td>
    </tr>
</table>
<div class="unterline"></div>
<table width="100%">
    <tr>
        <td style="padding:2px;">
		<div style="height: 300px; border: 1px solid #76774C; background-color: #FDFDD3; padding: 5px; overflow: auto;">
<strong>Лицензионное соглашение.</strong>
<br />
<strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong> - свободно распространяемая, c открытым исходным кодом (Open Source), система управления сайтами.
CMS (Content Management System) - Система Управления сайтами, разработана на языке Веб-программирования PHP с использованием MySQL в качестве баз данных.
Распространяется в соответствии с лицензией GNU General Public 3.
<br />
<strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong> является свободно распространяемой программной платформой.
<br />
На все модификации и сборки программ, созданные на основе <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong>, а также любые дополнения для <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong>, распространяется генеральная лицензия GNU GPL.
Это означает что, они должны быть свободно распространяемые, с открытым исходным кодом.
<br />
Если Вы намереваетесь включить <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong> или части кода программы в состав другого свободно используемого программного обеспечения, условия распространения, которого отличаются от условий настоящего Соглашения, Вы должны получить на это разрешение <strong><a href="http://vk.com/sibweb" target="_blank">SibWeb Media Group</a></strong>.
<br />
Условиями настоящего соглашения не разрешается включать <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong>, а также, отдельные функции или части кода принадлежащие <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong>, в состав программы, являющейся чьей-либо собственностью, и выпускаемой под коммерческой лицензией, ограничевающей права на ее свободное распространение.
<br />
<br />
<strong>Вы можете:</strong>
<br />
<strong>1.</strong> Свободно распространять <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong> неограниченным количеством копий, соблюдая условия GNU General Public 3.
<br />
<strong>2.</strong> Изменять (модифицировать) исходный код системы под свои нужды.
<br />
<strong>3.</strong> Использовать <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong> в коммерческих или других проектах, сохраняя копирайт разработчиков <strong><a href="http://vk.com/sibweb" target="_blank">SibWeb Media Group</a></strong>.
<br />
<strong>4.</strong> Оказывать платную поддержку, а также платную доработку отдельных частей кода, или модификаций и сборок основанных на коде <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong>, соблюдая условия GNU GPL, и сохраняя копирайт разработчиков <strong><a href="http://vk.com/sibweb" target="_blank">SibWeb Media Group</a></strong>.
<br />
<strong>5.</strong> Получать информацию о выходе новых версий или обновлений, исправлений, на сайтах разработчиков <a href="http://niun.ru/" target="_blank">niun.ru</a>.
<br />
<strong>6.</strong> Задавать вопросы на форуме поддержки и получать консультации опытных пользователей <strong><a href="http://forum.niun.ru" target="_blank">NiunCMS</a></strong>.
<br />
<strong>7.</strong> Оказывать помощь в поддержке, а также в разработке дополнений и расширений улучшающих работу <strong><a href="http://forum.niun.ru" target="_blank">NiunCMS</a></strong>.
<br />
<strong>8.</strong> Сообщать на контактные E-Mail разработчиков об ошибках в работе системы.
<br />
<strong>9.</strong> Присоединиться к спонсорам проекта (http://niun.ru/donate.html) оказав посильную материальную помощь команде <strong><a href="http://vk.com/sibweb" target="_blank">SibWeb Media Group</a></strong>.
<br />
<br />
<strong>Запрещено:</strong>
<br />
<strong>1.</strong> Использовать <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong> для действий, нарушающих законы какой-либо страны или международные законы.
<br />
<strong>2.</strong> Использовать <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong> для действий, нарушающих авторские и имущественные права каких-либо лиц.
<br />
<strong>3.</strong> Использовать код, шаблоны оформления или любые составляющие части <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong>, для передачи в аренду или продажи под собственным именем.
<br />
<strong>4.</strong> Удалять строки, включенные в исходный код в начале каждого файла, оповещающие об авторском праве <strong><a href="http://vk.com/sibweb" target="_blank">SibWeb Media Group</a></strong>.
<br />
<strong>5.</strong> Удалять или изменять ссылку на сайт разработчиков <strong><a href="http://niun.ru" target="_blank">NiunCMS</a></strong>, в коде шаблона оформления.
<br />
<strong>6.</strong> Вы должны получить на это разрешение <strong><a href="http://vk.com/sibweb" target="_blank">SibWeb Media Group</a></strong> см. Услуги п. 6.
<br />
<strong>7.</strong> Ссылка должна быть прямой формата: www.niun.ru, niun.ru (одна из двух).
<br />
		</div>
</td>
</table>
</div>