<center>NiunCMS - Авторизация</center>
<p>
<form action="/admin.php" method="post" name="form">
<table class="loginbg" border="0" cellspacing="0" cellpadding="2" align = "center">
        <tr>
            <td width="60">Логин:</td>
            <td width=""><input class="inpu" autocomplete="off" name="loginDB" type="text"></td>
        </tr>
        <tr>
            <td height="30" valign="top">Пароль:</td>
            <td valign="top"><input class="inpu" autocomplete="off" name="passDB" type="password"></td>
        </tr>
            <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top" align="right">
                    <table border="0" cellspacing="0" cellpadding="3">
                    <tr>
                        <td width="20">
                            <input name="remember" type="checkbox" id="remember" value="1" style="margin-right:0px"/> 
                        </td>
                        <td>
                            <label for="remember"> Запомнить меня</label>
                        </td>
                    </tr>
                    </table>
                </td>
            </tr>
                        <td width="13%" align="center"><input class="input" style="cursor:pointer;" type="submit" value="Войти"></td>
                    </tr>
                </table>
            </td>
        </tr>
</table>
</form>