<div class="block">Загружённые файлы</div>
<div class="txt">
<table class="headerWIN" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td style="font-weight:bold;padding:5px;background-color:#F6F6F6;">&nbsp;</td>
		<td valign="top" style="font-weight:bold;padding:5px;background-color:#F6F6F6;">Заголовок фотографии</td>
		<td valign="top" style="font-weight:bold;padding:5px;background-color:#F6F6F6;">Описание фотографии</td>
		<td style="font-weight:bold;padding:5px;background-color:#F6F6F6;width:20px;" align="left">&nbsp;</td>
		<td style="font-weight:bold;padding:5px;background-color:#F6F6F6;width:20px;" align="left"><a style="cursor:pointer;" onclick="add_galery"><img src="../admincp/img/add.jpg" border="0px"></a></td>
	</tr>
[_file]
	<tr>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" width="40px" height="50px"><a href="[_imgBIG]" style="margin-left:10px;" target="_blank"><img src="[_imgSMALL]" border="0px" width="40px" height="40px"></a></td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" align="left">[_titleIMG]</td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" align="left">[_txtIMG]</td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" align="center"><a style="font-weight:100;" href="?page=eddphoto&id=[_id]"><img src="img/edd.jpg" border="0px"></a></td>
		<td style="border-top:1px solid #dcdcdc;padding:5px;" align="center"><a style="font-weight:100;" href="?page=galery&delphoto=[_id]"><img src="img/del.jpg" border="0px"></a></td>
	</tr>
[_file]
</table>
</td>
</table></div>