<table valign="top">
<td valign="top">
<div class="adminmenu">
<stat>Статистика сайта</stat>
<p>
<table width="100%">
<td>
<stat>Записей в блоге:</stat>
</td>
<td>
<a>[_content]</a>
</td>
<tr>
<td>
<stat>Комментариев в блоге:</stat>
</td>
<td>
<a>[_comm]</a>
</td>
<tr>
<td>
<stat><div onclick="javascript:location.href='?page=newcomm'" style="cursor:pointer;" title="Нажмите сюда чтобы просмотреть новые комментарии">Новые комментарии в блоге:</div></stat>
</td>
<td>
<a href="?page=clearcomm" title="Нажмите сюда чтобы сбросить счётчик новых комментариев">[_commview]</a>
</td>
<tr>
<td>
<stat>Комментарии на модерации:</stat>
</td>
<td>
<a href="?page=modercomm" title="Нажмите сюда чтобы открыть комментарии которые еще не прошли вашей проверки">[_commmoder]</a>
</td>
<tr>
<td>
<stat>Подписчиков Feedburner:</stat>
</td>
<td>
<a>[_rssreader]</a>
</td>
<tr>
<td>
<stat>Подписчиков Twitter:</stat>
</td>
<td>
<a>[_twreader]</a>
</td>
<tr>
<td>
<stat>Кеш сайта:</stat>
</td>
<td>
<a href="?page=clearcache" title="Нажмите сюда чтобы очистить кеш вашего сайта">[_sizeceche]</a>
</td>
<tr></tr>
<td><stat>Версия NiunCMS:</stat></td>
<td><a>[info]</a></td>
<tr></tr>
<td><stat>Общий размер сайта:</stat></td>
<td><a>[sizesite]</a></td>
<tr>
<td>
<stat>Ваш сайт живёт:</stat>
</td>
<td>
<a>[_life]</a>
</td>
<tr></tr>
<td><stat>Версия PHP:</stat></td>
<td><a>[php]</a></td>
<tr></tr>
<td><stat>Версия GD:</stat></td>
<td><a>[gd]</a></td>
<tr></tr>
<td><stat>Module mod_rewrite:</stat></td>
<td><a>[apache]</a></td>
<tr></tr>
<td><stat>Безопасный режим:</stat></td>
<td><a>[safe]</a></td>
<tr></tr>
<td><stat>Версия Mysql сервера:</stat></td>
<td><a>[mysql]</a></td>
<tr>
<td>
<stat>Обновление NiunCMS:</stat>
</td>
<td>
<a href="http://update.niun.ru/network.php?niun=NiunCMS&life=X1&release=1.8%20beta%201&path=1934&lang=RUSSIA%20(Windows-1251)" target="_blank" title="Проверить обновление">проверить</a>
</td>
</table>
</div>
<p>
<div class="adminmenu">
<table>
<td>
<img src="admin/img/templates.png">
</td>
<td>
<a href="http://niun.ru/dopolnenie/shablony/" target="_blank">Бесплатные шаблоны на NiunCMS</a>
</td>
<tr>
<td>
<img src="admin/img/modules.png">
</td>
<td>
<a href="http://niun.ru/dopolnenie/moduli/" target="_blank">Бесплатные модули на NiunCMS</a>
</td>
<tr>
<td>
<img src="admin/img/license.png">
</td>
<td>
<a href="?page=license" target="_blank">Лицензионное соглашение</a>
</td>
<tr>
<td>
<img src="admin/img/about.png">
</td>
<td>
<a href="?page=about" target="_blank">Об NiunCMS и её авторе</a>
</td>
</table>
</div>
</td>
<td valign="top" width="100%">
<div class="block">
Добро пожаловать! в панель управление личным сайтом
</div>
<div class="txt">
<table>
<td align = "center" class="pynkt" title="Добавление записи в личный блог.">
<a href="?page=add_content"><img src="admin/img/add.png" border="0px"></a>
<br>
<a href="?page=add_content">Опубликовать</a>
</td>

<td align = "center" class="pynkt" title="Все записи блога, где вы сможете изменять, удалять, модерировать записи а так-же комментарии.">
<a href="?page=all_content"><img src="admin/img/all.png" border="0px"></a>
<br>
<a href="?page=all_content">Все записи</a>
</td>

<td align = "center" class="pynkt" title="Настройка меню вашего сайта.">
<a href="?page=all_menu"><img src="admin/img/menu.png" border="0px"></a>
<br>
<a href="?page=all_menu">Меню сайта</a>
</td>

<td align = "center" class="pynkt" title="Менеджер файлов для хранение файлов.">
<a href="?page=mfiles"><img src="admin/img/files.png" border="0px"></a>
<br>
<a href="?page=mfiles">Файлы</a>
</td>

<td align = "center" class="pynkt" title="Сохрани в галерею картинки и публикуй их прямо в блог.">
<a href="?page=galery"><img src="admin/img/gallery.png" border="0px"></a>
<br>
<a href="?page=galery">Галерея</a>
</td>

<td align = "center" class="pynkt" title="Управление группами E-Mail в комментариях.">
<a href="?page=user"><img src="admin/img/user_comm.png" border="0px"></a>
<br>
<a href="?page=user">Пользователи</a>
</td>

<td align = "center" class="pynkt" title="Опросы для ваших посетителей блога.">
<a href="?page=quest"><img src="admin/img/poll.png" border="0px"></a>
<br>
<a href="?page=quest">Опросы</a>
</td>

<td align = "center" class="pynkt" title="Установка/Настройка модулей.">
<a href="?page=modules"><img src="admin/img/modules.png" border="0px"></a>
<br>
<a href="?page=modules">Модули</a>
</td>

<td align = "center" class="pynkt" title="Обращение к вам из формы обратной связи.">
<a href="?page=contact"><img src="admin/img/mail.png" border="0px"></a>
<br>
<a href="?page=contact">Почта</a>
</td>

<td align = "center" class="pynkt" title="Настройка сайта.">
<a href="?page=configblog"><img src="admin/img/setting.png" border="0px"></a>
<br>
<a href="?page=configblog">Настройка</a>
</td>
</table>
</div>
<p>
<div class="block">
Дополнительно
</div>
<div class="txt">
<table>
<td align = "center" class="pynkt" title="Добавление записи в личный блог.">
<a style="cursor:pointer;" href="http://faq.niun.ru/help.php" target="_blank"><img src="admin/img/help.png" border="0px"></a>
<br>
<a style="cursor:pointer;" href="http://faq.niun.ru/help.php" target="_blank">Помощь</a>
</td>

<td align = "center" class="pynkt" title="Информация об установленной версии php на вашем сервере.">
<a href="admin/phpinfo.php" target="_blank"><img src="admin/img/php.png" border="0px"></a>
<br>
<a href="admin/phpinfo.php" target="_blank">Инфо об PHP</a>
</td>

<td align = "center" class="pynkt" title="Открыть сайт в новой вкладке.">
<a href="/" target="_blank"><img src="admin/img/opensite.png" border="0px"></a>
<br>
<a href="/" target="_blank">Открыть сайт</a>
</td>

<td align = "center" class="pynkt" title="Окончить сессию в административном центре.">
<a href="admin/exit.php?page=logSESS"><img src="admin/img/exit.png" border="0px"></a>
<br>
<a href="admin/exit.php?page=logSESS">Выход</a>
</td>
</table>
</div>
</td>
</table>