/*
	Featured Content Slider
	by: Chris Coyier
*/




.slider-wrap						{ width: 507px; top: 87px; left: 40px; }
.stripViewer .panelContainer
.panel ul						{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer						{ position: relative; overflow: hidden; width: 507px; height: 285px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 507px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 						{ border: 1px solid black; margin-right: 5px; }
#movers-row						{ margin: -43px 0 0 62px; }
#movers-row div					{ width: 20%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data					{
	background: url(../images/slider/transpBlack.png);
   padding-bottom: 100px;
	padding-left: 5px; padding-right: 5px; padding-top: 3px;
	height: 40px;
	margin-top: -80px;
	 position: relative;
	z-index: 9999;
	font-family: verdana;
	font-size: 10px;
	color: white;
}
.photo-meta-data a				{
   font-family: verdana;
	font-size: 10px;
	color: white;
	text-decoration: underline;
}
.photo-meta-data a:hover {font-family: verdana; font-size: 10px; color: white; text-decoration: none;}
.photo-meta-data span 					{ font-size: 13px; }
.cross-link						{ display: block; width: 62px; margin-top: -14px;
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 						{ background: transparent url(../images/slider/icon-uparrowsmallwhite.png) no-repeat top center;
}









#sidebar {
	color: #5f5f5f;
	background: white;
	float: left;
	margin: 0 0 4px;
	padding: 4px 4px 4px;
	width: 260px;
}

#sidebar ul {
    font-size:1.2em;
    list-style-type:none;
    margin:0;
    padding:0; 
   position:relative;
}

.four {
        background-position: 82px -48px;
}

.five {
        background-position: 82px -60px;
}



#sidebar li {
    height: 90px;
    overflow: hidden;
}

#sidebar li h5 {
    color:#A5A9AB;
    font-size:1em;
    margin-bottom:0.5em;
}

#sidebar li h5 a {
    color:#A5A9AB;
    text-decoration:none;
}

#sidebar li img {
    float:left;
    margin-right:8px;
}

#sidebar li .info {
    color:#3E4548;
    font-size:1em;
}

#sidebar .info a,
#sidebar .info a:visited {
    color:#3E4548;
    text-decoration: none;
}

#sidebar .spyWrapper {
    height: 100%;
    overflow: hidden;
    position: relative;    
}

#sidebar {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
}







